<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>io.goodkind.gha-mac-broker-guest</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/gha-mac-broker</string>
    <string>guest-supervisor</string>
  </array>
  <key>KeepAlive</key>
  <true/>
  <key>RunAtLoad</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/var/log/gha-mac-broker-guest.log</string>
  <key>StandardErrorPath</key>
  <string>/var/log/gha-mac-broker-guest.log</string>
</dict>
</plist>
